<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="https://media.glassdoor.com/sqll/30653/lti-squarelogo-1527249758749.png" type="image/x-icon">
  <link rel="stylesheet"
    href="https://res.cloudinary.com/hmvbhgfqs/raw/upload/v1629284687/LBJ%20casestudy%203/style_ooslgd.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet' type='text/css'>
  <title>LBJ Case Study 3</title>
</head>

<body>
  <main class="new-page-container">
    <div class="new-page-content">
      <h1 class="main-header"> Welcome to SMS <i class="fa fa-commenting-o"></i>
      </h1>
      <h2 class="main-subheader"> Student Management System </h2>
      <nav class="menu-container">
        <h2 class="menu-header"> Tell us who are you </h2>
        <div class="menu-items">
          <a class="menu-option menu-option-panthers" href="Admin">Admin</a>
          <br>
          <a class="menu-option menu-option-broncos" href="Student">Student</a>
        </div>
      </nav>
    </div>
  </main>
</body>

</html>