{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>LTI case-study 3 - Display Courses</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://media.glassdoor.com/sqll/30653/lti-squarelogo-1527249758749.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://res.cloudinary.com/hmvbhgfqs/raw/upload/v1627985462/LBJ%20casestudy%202/style_d9yv3v.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        a {
            color: inherit;
        }
    </style>


</head>

<body>
    <!-- Navigation -->
    <nav id="slide-menu">
        <ul>
            <li>
                <a href="/Student">
                    <h2>Student-Home</h2>
                </a>
            </li>
            <hr />
            <br>
            <li class="add"><a href="register-student">Register</a></li>
            <li class="search">
                <a href="view-course-student">View Course Details</a>
            </li>
            <li class="display"><a href="apply-course">Apply for a course</a></li><br>
            <hr />
        </ul>
    </nav>
    <!-- Content panel -->
    <div id="content">
        <div class="menu-trigger"></div>
        <br>
        <div class="container-fluid">
            <h1> Display All Courses</h1><br>
            <div class="row table-responsive">
                <div class="col">
                    <table class="table table1 table-bordered" id="dataTable" width="100%" cellspacing="0"
                        data-order='[[1, "desc"]]'>
                        <thead>
                            <tr>
                                <th>Course Id</th>
                                <th>Course Name</th>
                                <th>Duration (in min)</th>
                                <th>Fees</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in CourseList %}
                            <tr>
                                <td>{{record.id }}</td>
                                <td>{{record.course_name }}</td>
                                <td>{{record.duration }}</td>
                                <td>{{record.fees}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.table1').DataTable({
                responsive: true
            });
        });
    </script>
    <script>
        (function () {
            var $body = document.body,
                $menu_trigger = $body.getElementsByClassName('menu-trigger')[0];

            if (typeof $menu_trigger !== 'undefined') {
                $menu_trigger.addEventListener('click', function () {
                    $body.className = ($body.className == 'menu-active') ? '' : 'menu-active';
                });
            }

        }).call(this);
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js">
    </script>

</body>

</html>